:root {
  --very-dark-blue: #0b0f17;
  --dark-blue: #1f283d;
  --orange: #ff6476;
  --light-blue: #84d7e9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--very-dark-blue);
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(31, 40, 61, 1) 0%,
    rgba(11, 15, 23, 1) 14%,
    rgba(11, 15, 23, 1) 85%,
    rgba(31, 40, 61, 1) 100%
  );
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate__slideInLeft {
  animation: slideInLeft 1s ease-in-out;
}

.animate__slideInRight {
  animation: slideInRight 1s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
